<div class="row">
    <div class="col-md-6">
        <div class="headline">
            <h3>예제 입력 <%- i %>
                <button 
                    type="button" 
                    class="btn btn-link"
                    onclick="copyToClipboard('input_<%- i %>')">
                    복사
                </button>
            </h3>
        </div>
        <pre class="sampledata" id="input_<%- i %>"><%- example.input %></pre>
    </div>
    <div class="col-md-6">
        <div class="headline">
            <h3>예제 출력 <%- i %>
                <button 
                    type="button" 
                    class="btn btn-link"
                    onclick="copyToClipboard('output_<%- i %>')">
                    복사
                </button>
            </h3>
        </div>
        <pre class="sampledata" id="output_<%- i %>}"><%- example.input %></pre>
    </div>
</div>