
<!doctype html>
<html>
<head>
    <%- include("../lib/head.html") %>
    <title><%- title %></title>
</head>
<body>
    <%- include("menu.ejs") %>
    <br>
    <div class="container">
        <%- body %>
    </div>
    <%- include("../lib/footer.html") %>
</body>
</html>