extends ../../page

block content
    table.table.table-striped.table-hover
        thead
            tr
                th 제출 id
                th 사용자 이름
                th 문제 id
                th 사용 언어
        tbody
            each result in results
                tr
                    td= result.id
                    td
                        a(href=`/user/${result.username}`) #{result.username}
                    td
                        a(href=`/question/${result.problem}`) #{result.problem}
                    td= result.language