extends ../page

block content
    include ../mixin

    style(type='text/css').
        p {
            text-indent: 10px;
            margin-bottom: 3px;
        }

    h1= q.title
        //button.btn.btn-link(type='button' onclick="location.href='${my_url}/question_solver?num=${num}")

    table.table.table-striped
        thead
            tr
                th 시간 제한
                th 메모리 제한
                th 태그
                th 제출
        tbody
            tr 
                td= q.time_limit + ' (초)'
                td= q.memory_limit
                td
                    +tags(q.tags)
                td 
                    +tags([submit])
    #problem_info
        .m_b#problem_explanation
            h3 문제 설명
            each line in q.description.split('\n')
                p= line
            
        .m_b#problem_input
            h3 입력 조건
            each line in q.input_description.split('\n')
                p= line
            
        .m_b#problem_output
            h3 출력 조건
            each line in q.output_description.split('\n')
                p= line
            
        br

        each s, i in q.samples
            .row
                .col-md-6
                    .headline
                        h3 예제 입력 #{i + 1}
                            button.btn.btn-link(
                                type='button' 
                                onclick=`copyToClipboard(\'input_${i + 1}\')`
                            ) 복사
                    pre.sampledata(id=`input_${i + 1}`)= s.input
                .col-md-6
                    .headline
                        h3 예제 출력 #{i + 1}
                            button.btn.btn-link(
                                type='button' 
                                onclick=`copyToClipboard(\'output_${i + 1}\')`
                            ) 복사
                    pre.sampledata(id=`output_${i + 1}`)= s.output
    
    // 문제의 답 제출
    hr
    form#form(name='question' action=`/question/${q._id}` method='POST')
        label(for='language') 언어
        select.m_b.form-control#lang(name='language')
            option(value='C') C
            option(value='C++') C++
            option(value='Java') Java
            option(value='Python') Python

        label(for='code') 소스 코드
        textarea#code.form-control.m_b(
            name='code'
            onkeydown='resize(this)'
            onkeyup='resize(this)' 
            rows='15' 
            placeholder='여기에 코드를 입력해주세요'
        )
        input.form-control.hide(
            name='problem_id'
            value=`${q._id}`
        )
        input.form-control.hide(
            name='contest_id'
            value=`${q.id}`
        )
        button#join-submit.btn.btn-primary.m-auto(type='submit') 제출

    script(type='text/javascript' src='KAUOnlineJudge.js')
        