extends ../page

block content
    include ../mixin
    table.table.table-striped.table-hover
        thead
            tr
                th #
                th 문제 이름
                th 태그
                th 채점
                th 정답자 수
                th 정답률
        tbody
            -for (q in q_list) 
                -q = q_list[q]
                tr 
                    td #{q.num}
                    td
                        a(href=`/question/${q.num}`) #{q.name}
                    td
                        +tags(q.tags)
                    td 
                        +tags([q.submit])
                    td #{q.cnt}
                    td #{q.pcnt}