extends ../page

block content
    h1= user
    hr
    table(style='width: 100%;')
        tbody
            tr(style='width: 100%;')
            -for (item in list)
                h3= item
                -var item = list[item]
                hr
                -for (var i in item)
                    a(href=`/question/${item[i]}`)= item[i]
                    | &nbsp;
                br 
                br
            //사용자 정보를 차트로 표시할 수 없음
                td(style='width: 45%;') 
                    canvas#chart
                td(style='width: 10%;') 
                td(style='width: 45%;') 
                    -for (item in list)
                        h3= item
                        -var item = list[item]
                        hr
                        -for (var i in item)
                            a(href=`/question/${item[i]}`)= item[i]
                            | &nbsp;
                        br 
                        br

    // 임시로 생성한 차트
    script(type="text/javascript" src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js')
    script.
        //var list = #{JSON.stringify(list)}
        var ctx = document.getElementById('chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)', 
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: true,
                    position: 'right'
                }
            }
        });
